{% extends 'base.html' %}
{% block content %}

<h1>Intro Video</h1>
<!--{% with '1 2 3' as list %}-->
<!--{% for i in list.split %}-->
<!--{{ i }}<br>-->
<!--{% endfor %}-->
<!--{% endwith %}-->
<iframe width="560" height="315" src="https://www.youtube.com/embed/F_Gw2dvm14g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1>Blog Posts</h1>
<!--object_list comes from the ListView in the BlogListView class-->
 {% for post in object_list reversed %}
<!--get all the objects, it has the attributes of the post model-->
  <div class="post-entry">
      <h2 class="blog-left"><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
  </div>
 {% endfor %}
{% endblock content %}
<!--To add static files for in production you need a Content Delivery Network (CDN)-->
