{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="column-img" style="margin-top: 3%;">
    {% with 'img/'|add:post.img|add:'.PNG' as image_static %}
    <img src="{% static image_static %}" style="width:100%;"/>
    {% endwith %}
</div>
<div class="column-text">
    <h2 style="color:white">{{ post.title }}</h2>
    <p class="body-text">{{ post.body }}</p>
    {% for content in post.content_set.all %}
        <h2 style="color: white;text-align: left;">{{ content.head }}</h2>
        <p style="color:white;text-align: left;"> {{ content.body }}</p>
    {% endfor %}
</div>
{% if user.is_authenticated %}
<p><a href="{% url 'post_edit' post.id %}">+ Edit Blog Post</a></p>
<p><a href="{% url 'post_delete' post.pk %}">+ Delete Blog Post</a></p>
{% endif %}
{% endblock content %}
