{% extends 'fly.html' %}
{% block title %}Reecac - Contact Us{% endblock %}
{% load static %}
{% block content %}
<script src="https://kit.fontawesome.com/e25b852c87.js" crossorigin="anonymous"></script>
<link href="{% static 'css/navbar.css' %}" rel="stylesheet">
<h1 class="contacts">Contacts</h1>
<h3 class="email">Email: gradeerG7@gmail.com</h3>
<h1 class="follow"> Follow me</h1>
<div class="container">
    <a href="https://www.facebook.com/Reecac-588190138485734" id="face"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/reecacofficial//" id="insta"><i class="fab fa-instagram"></i></a>
</div>

{% endblock content %}