{% extends 'base.html' %}
{% load static %}
{% block title %}Reecac - Team{% endblock %}
{% block content %}
<link href="{% static 'css/team.css' %}" rel="stylesheet">
<div class="about-mid">
    <h2 class="purple-neon">Designers</h2>
    <ul>
        <li>Justin Alvarez</li>
        <li>Dylan Tuten</li>
        <li>Alex Robel</li>
        <li>Dinh Pham</li>
    </ul>
    <h2 class="purple-neon">Front-end Dev</h2>
    <ul>
        <li>Dylan Tuten</li>
    </ul>
    <h2 class="purple-neon">Front/Back-end Dev</h2>
    <ul>
        <li>Teagan Ramos</li>
    </ul>
</div>
{% endblock content %}