{% extends 'base.html' %}
{% load static %}
{% block title %}Reecac - Team{% endblock %}
{% block content %}
<link href="{% static 'css/team.css' %}" rel="stylesheet">
<div class="about-mid">
    <h2 class="purple-neon">Developers</h2>
    <ul>
        <li><span style="font-size: 140%;">Teagan Ramos</span><br>Teagan Ramos is a dude who likes to code. He's a 2020 graduate, but that didn't stop him from doing what
        he loves. He wanted to continue programming, so he researched and eventually obtained the skills to make this website. But it
        wasn't done alone, he had many friends to assist and help him with the process. Apart from the website, he also made this app called QuickSchedule with his
        first-in command, Dylan Tuten. This was the beginning of a great friendship and many programming projects to come. He's also in the credits of this game called <a href="https://dylandummy.itch.io/cominghome">Coming Home</a>.</li>
        <br>
        <li><span style="font-size: 140%;">Dylan Tuten</span><br>Dylan Tuten is a big boy who does computer things.
            He won the Congressional App Challenge in 2019 with his best friend in the whole wide world, Teagan for his work on <a href="https://www.congressionalappchallenge.us/19-fl10/">QuickSchedule</a> freshman year.
            He made a game called <a href="https://dylandummy.itch.io/cominghome">Coming Home</a> in freshman year of high school. He later made a game for the Adult Swim show <a href="https://www.adultswim.com/videos/electronic-game-information">Electronic Game Information</a>, <a href="https://twitter.com/egiwithrobby/status/1288174751576293377">"Alan's Game"</a>, summer after freshman year.
            Dylan Tuten is now working on a game called Cabin Fever, and will post updates on his <a href="https://twitter.com/dylandummy">twitter</a>. He's almost a sophmore in highschool.</li>
    </ul>
    <h2 class="purple-neon">Contributors</h2>
    <ul>
        <li>Justin Alvarez</li>
        <li>Alex Robel</li>
        <li>Dinh Pham</li>
    </ul>
    <h2 class="purple-neon">About The Website</h2>
    <p style="padding-inline-start: 20px;">
        We aim to provide our experience and thoughts on how to turn a passion into a career, and provide a place for experienced and inexperienced coders alike to share their goals and project ideas with the community.
        And by viewing this blog I hope you will advance earlier than we did.
    </p>
    <p style="padding-inline-start: 20px;">
        REECAC is an acronym. It stands for Read, Entertain & Exhibit Coding Achievements with your Community.
    </p>
</div>
{% endblock content %}