/* Ctrl+F5 in the website to bypass the cache (update the changes) */

html, body {
color: white;
background-color: #000000;
font-family: Candara;
background-image: linear-gradient(315deg, #000000 0%, #414141 74%);}

/* base.html */

.right-side {
    padding: 10px;
}

.column-img {
   -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
   -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
   box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
   display: block;
       margin-left: auto;
       margin-right: auto;
       width: 250;
}

.container{
    width:250;
}

.container img{
   -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
   -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
   box-shadow: 10px 5px 10px 0px rgba(0, 0, 0, 1);
}

.column-text {
  float: left;
  text-align:center;
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
}

.column-post {
  float: left;
  width: 100%;
  padding-bottom: 5%;
}

.button-column {
  font-size: 20px;
  float: left;
  width: 20%;
  padding-left: 5px;
  padding-right: 5px;
}

h1 {
    color: white;
}

.body-text {
    color: white;
}

header {
    border-bottom: 1px solid #999;
}
/* base.html */
header .name {
    color: black;
    font-size: 40;
    text-decoration: none;
}

.lemur {
    position: relative;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  overflow-x: hidden;
}
.left {
  left: 20%;
}

.right {
  right: 0;
}
.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.post-entry {
    margin-bottom: -1.5rem;
}
/* .post-entry is the class that we are calling in home.html */
.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color: white;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color: #4169E1;
}

.blog-left {
    padding-left: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.main {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 1%;
}

.nav {
    background-color: rgb(39, 39, 39);
    border-radius: 8px;
    overflow: hidden;
    border: 0.5px solid white;
}

.nav ol {
    display: flex;
    list-style: none;
    position: relative;
    padding-inline-end: 40px;
}

.nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 35px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.animation {
    width: 0px;
    height: 4px;
    position: absolute;
    top: -5;
    left: 0;
    background-color: #00ff00;
    transition: all 0.4s;
}

li:nth-child(1):hover ~ .animation {
    width: 150px;
    left: 40px;
}

li:nth-child(2):hover ~ .animation {
    width: 150px;
    left: 190px;
}

li:nth-child(3):hover ~ .animation {
    width: 150px;
    left: 340px;
}

li:nth-child(4):hover ~ .animation {
       width: 150px;
       left: 490px;
   }

li:nth-child(5):hover ~ .animation {
    width: 150px;
    left: 640px;
}
