/* Ctrl+F5 in the website to bypass the cache (update the changes) */
body {
family: Averia Sans Libre, Fantasy;
background: linear-gradient(to bottom, green, white);

}
/* base.html */
header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}
/* base.html */
header .name {
    color: black;
    font-size: 40;
    text-decoration: none;
}
.lemur {
    position: absolute;
    left: 10%;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  overflow-x: hidden;
}
.left {
  left: 20%;
}

.right {
  right: 0;
}
.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.post-entry {
    margin-bottom: 2rem;
}
/* .post-entry is the class that we are calling in home.html */
.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color:blue;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color: red;
}

.blog-left {
    padding-top: 2%;
    padding-left: 5%;
}

.load{
    width: 50vw;
    height: 25vh;
    left: 25%; top: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Averia Sans Libre, Fantasy;
}
.loading span {
    color: #000000;
    text-transform: uppercase;
    font-size: 4vw;
    font-weight: 600;
    display: inline-block;
    padding: 0em 0.5em;
    animation: letterWave 2s infinite linear;
}

.loading span:nth-child(0){
    animation-delay: 0ms;
}
.loading span:nth-child(1){
    animation-delay: 250ms;
}
.loading span:nth-child(2){
    animation-delay: 500ms;
}
.loading span:nth-child(3){
    animation-delay: 750ms;
}
.loading span:nth-child(4){
    animation-delay: 1000ms;
}
.loading span:nth-child(5){
    animation-delay: 1250ms;
}
.loading span:nth-child(6){
    animation-delay: 1500ms;
}
.loading span:nth-child(7){
    animation-delay: 1750ms;
}
@keyframes letterWave{
    0%,
    100% {
            transform: translateY(0) scale(1);
            padding: 0 0.5em;
            opacity 0.0;
        }
    25% {
            transform: translateY(-1em) scale(0.8);
            padding: 0 0em;
            opacity 0.6;
        }
    75% {
            transform: translateY(1em) scale(1.5);
            padding: 0 1em;
            opacity 1;
        }
}