html, body {
overflow:hidden;
background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

#scroll{
     height: 70%;
     position:relative;
     overflow: scroll;
}

#no-scroll{
     height: 100%;
     position:relative;
}


canvas{
  position: absolute;
  filter: blur(1px);
}