div.pol p{
    color:white;
}

#priv-mid {
    float: left;
    width: 60%;
    padding-right: 20%;
    padding-left: 20%;
}

div.pol li{
    color:white;
}
div.pol a:link    {color:maroon;}
div.pol a:visited {color:green;}
div.pol a:hover   {color:red;}