/* Ctrl+F5 in the website to bypass the cache (update the changes) */
body {
background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #414141 74%);}

/* base.html */

.right-side {
    padding: 10px;
}

.column-img {
   vertical-align:middle;
   text-align:center;
   width: 100%;
}

.column-text {
  float: left;
  text-align:center;
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
}

.column-post {
  float: left;
  width: 100%;
}

.button-column {
  font-size: 20px;
  float: left;
  width: 20%;
  padding-left: 5px;
  padding-right: 5px;
}

h1 {
    color: white;
}

.body-text {
    font-family: roboto;
    color: white;
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
}
/* base.html */
header .name {
    color: black;
    font-size: 40;
    text-decoration: none;
}
.lemur {
    position: relative;
}
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  overflow-x: hidden;
}
.left {
  left: 20%;
}

.right {
  right: 0;
}
.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

.post-entry {
    margin-bottom: 2rem;
}
/* .post-entry is the class that we are calling in home.html */
.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color: white;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color: #B0E0E6;
}

.blog-left {
    padding-left: 20px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav {
    background-color: rgb(39, 39, 39);
    border-radius: 8px;
    overflow: hidden;
}

.nav ol {
    display: flex;
    list-style: none;
    position: relative;
    padding-inline-end: 40px;
}

.nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.animation {
    width: 0px;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00ff00;
    transition: all 0.4s;
}

li:nth-child(1):hover ~ .animation {
    width: 150px;
    left: 40px;
}

li:nth-child(2):hover ~ .animation {
    width: 150px;
    left: 190px;
}

li:nth-child(3):hover ~ .animation {
    width: 150px;
    left: 340px;
}

li:nth-child(4):hover ~ .animation {
       width: 150px;
       left: 490px;
   }

li:nth-child(5):hover ~ .animation {
    width: 150px;
    left: 640px;
}