.gradient-head{
    color: transparent;
    background-image: linear-gradient(109deg, #1e3c72 , #2a5298);
    -webkit-background-clip: text;
}

.blue-neon {
  color: #fff;
  text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 16px #0ff,
    0 0 32px #0ff,
    0 0 42px #0ff,
    0 0 52px #0ff,
    0 0 102px #0ff;
}

.green-neon {
    margin-block-start: 0.67em;
    margin-block-end: 0;
    text-align: center;
    font-size: 68px;
    text-transform: uppercase;
  color: #fff;
  text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 16px #00ff80,
    0 0 32px #00ff80,
    0 0 42px #00ff80,
    0 0 52px #00ff80,
    0 0 102px #00ff80;
}

.red-neon {
  color: #fff;
  text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 16px #e60000,
    0 0 32px #e60000,
    0 0 42px #e60000,
    0 0 52px #e60000,
    0 0 102px #e60000;
}

.title {
    text-align: center;
    font-family: Gotham, Tahoma, sans-serif;
    font-size: 68px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #818181,
                 1px 2px 1px #818181,
                 1px 3px 1px #818181,
                 1px 4px 1px #818181,
                 1px 5px 1px #818181,
                 1px 6px 1px #818181,
                 1px 7px 1px #818181,
                 1px 9px 1px #818181,
                 1px 9px 1px #818181,
                 1px 10px 1px #818181,
                 1px 13px 5px rgba(14, 14, 14, 0.4),
                 1px 16px 5px rgba(14, 14, 14, 0.2),
                 1px 18px 5px rgba(14, 14, 14, 0.4),
                 1px 21px 5px rgba(14, 14, 14, 0.4);

}