html, body {
overflow:hidden;
background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

#style-1::-webkit-scrollbar-track
{
    width: 10px;
    background-color: #000;
}

#style-1::-webkit-scrollbar
{
    width: 10px;
    background-color: cadetblue;
}

#style-1::-webkit-scrollbar-thumb
{
    background-color: cadetblue;
}

.scroll{
     height: 70%;
     position:relative;
     overflow-y: scroll;
}


.no-scroll{
     height: 100%;
     position:relative;
}


canvas{
  position: absolute;
  filter: blur(1px);
}