
/*
testing:
(fit-to-screen)
    width, height
1 - 1500, 600
2 - 1100, 1400
3 - 1100, 800
4 - 1400, 1100
actual use:
    width, height
1 - 1500, 800
2 - 1100, 1400
3 - 1100, 800
4 - 1400, 1100

*/
/* L laptop */
@media screen and (orientation: landscape) and (max-width: 3000px) and (max-height: 1500px) {
            .container{
                width: 20%;
                display: flex;
                justify-content: space-between;

                position: relative;
                left: 40%;
                padding-top: 40px;
                transform: translate(-50%);
            }

            .container a{
                position: relative;
                text-decoration: none;
                width: 100px; height: 100px;
                border-radius: 50%;
                background-color: #212121;
                transition: all 0.5s;
                transition-delay: 0.1s;
            }

            .container i{
                font-size: 70px;
                color: #515151;
                transition: all 0.5s;
                transition-delay: 0.1s;
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
            }

            .container a::before{
                content: "";
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                transform: scale(0.6);
                background-color: #fff;
                border-radius: 50%;
                z-index: -1;
                filter: blur(10px);
                transition: all 0.5s;
                transition-delay: 0.1s;
            }

            .container a:hover#face i{
                     color: #43609C;
                 }
            .container a:hover#insta i{
                    color: #C13584;
                }

            .container a:hover::before{
                transform: scale(1);
            }
                .email{
                    font-size: 30px;
                    color: white;
                    display: block;
                    position: absolute;
                    left: 25%;
                    text-align: center;
                }

                .contacts{
                    font-size: 50px;
                    position: relative;
                    width: 20%;
                    left: 20%;
                    margin-block-end: 0px;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    font-weight: bold;
                }
                .follow{
                            font-size: 30px;
                            padding-top: 60px;
                            position: relative;
                            width:20%;
                            left: 20%;
                            margin-block-end: 0px;
                            margin-inline-start: 0px;
                            margin-inline-end: 0px;
                            font-weight: bold;
                        }
            }
/* mobile */
@media screen and (max-width: 1100px) and (max-height: 2200px){
            .container{
                width: 50%;
                display: flex;
                justify-content: space-between;

                position: relative;
                left: 40%;
                padding-top: 5%;
                transform: translate(-50%);
            }

            .container a{
                position: relative;
                text-decoration: none;
                width: 200px; height: 200px;
                border-radius: 50%;
                background-color: #212121;
                transition: all 0.5s;
                transition-delay: 0.1s;
            }

            .container i{
                font-size: 140px;
                color: #515151;
                transition: all 0.5s;
                transition-delay: 0.1s;
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
            }

            .container a::before{
                content: "";
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                transform: scale(0.6);
                background-color: #fff;
                border-radius: 50%;
                z-index: -1;
                filter: blur(10px);
                transition: all 0.5s;
                transition-delay: 0.1s;
            }

            .container a:hover#face i{
                         color: #43609C;
                     }
            .container a:hover#insta i{
                    color: #C13584;
                }

            .container a:hover::before{
                transform: scale(1);
            }
            .email{
                font-size: 45px;
                color: white;
                display: block;
                position: absolute;
                left: 25%;
                text-align: center;
            }

            .contacts{
                font-size: 90px;
                position: relative;
                width:20%;
                left: 20%;
                margin-block-end: 0px;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-weight: bold;
            }
            .follow{
                        font-size: 90px;
                        padding-top: 80px;
                        position: relative;
                        width: 60%;
                        left: 20%;
                        margin-block-end: 0px;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        font-weight: bold;
                    }
        }

/* For iPad Pro flipped, laptop */
@media screen and (orientation: landscape) and (max-width: 1400px) and (max-height: 1100px) {
    .container{
        width: 20%;
        display: flex;
        justify-content: space-between;

        position: relative;
        left: 35%;
        padding-top: 2%;
        transform: translate(-50%);
    }

    .container a{
        position: relative;
        text-decoration: none;
        width: 100px; height: 100px;
        border-radius: 50%;
        background-color: #212121;
        transition: all 0.5s;
        transition-delay: 0.1s;
    }

    .container i{
        font-size: 70px;
        color: #515151;
        transition: all 0.5s;
        transition-delay: 0.1s;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }

    .container a::before{
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        transform: scale(0.6);
        background-color: #fff;
        border-radius: 50%;
        z-index: -1;
        filter: blur(10px);
        transition: all 0.5s;
        transition-delay: 0.1s;
    }

    .container a:hover#face i{
         color: #43609C;
     }
    .container a:hover#insta i{
        color: #C13584;
    }

    .container a:hover::before{
        transform: scale(1);
    }
    .email{
        font-size: 30px;
        color: white;
        display: block;
        position: absolute;
        left: 25%;
        text-align: center;
    }

    .contacts{
        font-size: 40px;
        position: relative;
        width:20%;
        left: 20%;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    .follow{
        font-size: 40px;
        padding-top: 80px;
        position: relative;
        width: 60%;
        left: 20%;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    }
/* For iPad Pro and below */
@media screen and (orientation: landscape) and (max-width: 1400px) and (max-height: 800px) {
    .container{
        width: 20%;
        display: flex;
        justify-content: space-between;

        position: relative;
        left: 40%;
        padding-top: 2%;
        transform: translate(-50%);
    }

    .container a{
        position: relative;
        text-decoration: none;
        width: 50px; height: 50px;
        border-radius: 50%;
        background-color: #212121;
        transition: all 0.5s;
        transition-delay: 0.1s;
    }
    .container i {
            font-size: 35px;
            color: #515151;
            transition: all 0.5s;
            transition-delay: 0.1s;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
        }
/*
removed for copyright reasons
    .container i#face {
        font-size: 40px;
        color: #43609C;
        transition: all 0.5s;
        transition-delay: 0.1s;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }

    .container i#insta {
            font-size: 40px;
            color: transparent;
            background-image: linear-gradient(45deg, #FFDC80, #FCAF45, #F77737, #F56040, #FD1D1D, #E1306C, #C13584, #833AB4, #5851DB, #405DE6);
            -webkit-background-clip: text;
            transition: all 0.5s;
            transition-delay: 0.1s;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
        }
*/
    .container a::before{
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        transform: scale(0.6);
        background-color: #fff;
        border-radius: 50%;
        z-index: -1;
        filter: blur(10px);
        transition: all 0.5s;
        transition-delay: 0.1s;
    }

    .container a:hover#face i{
             color: #43609C;
         }
    .container a:hover#insta i{
            color: #C13584;
        }

    .container a:hover::before{
        transform: scale(0.8);
    }
    .email{
        font-size: 20px;
        color: white;
        display: block;
        position: absolute;
        left: 25%;
        text-align: center;
    }

    .contacts{
        font-size: 30px;
        position: relative;
        width:20%;
        left: 20%;
        margin-block-end: 0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    .follow{
            font-size: 30px;
            padding-top: 40px;
            position: relative;
            width:40%;
            left: 20%;
            margin-block-end: 0px;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }
    }